@page "/"
@namespace Blazr.App.UI
@using Blazr.UI.Bootstap

<PageTitle>Index</PageTitle>

<h1>Hello, Blazor!</h1>

<div class="m-2">
    This is my current work-in-progress Blazor Database Framework.
</div>

<div class="alert alert-info">
    The Repo for the code base is here <a href="https://github.com/ShaunCurtis/Blazr.Demo/tree/Experimental">Blazr.Demo - Experimental Branch</a>
</div>
