@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <FluentBadge Appearance="Appearance.Neutral">@this.Presenter.State.Count</FluentBadge></p>

<FluentButton Appearance="Appearance.Accent" @onclick="this.Presenter.Increment">Click me</FluentButton>

@code {
    private readonly CounterPresenter Presenter = new();

    public readonly record struct CounterState(int Count);

    public sealed class CounterPresenter
    {
        public CounterState State { get; private set; } = new(0);

        public void Increment()
        {
            this.State = State with { Count = this.State.Count + 1 };
        }
    }
}