@page "/"

<PageTitle>Home</PageTitle>

<h1>About this Site</h1>

<p>
    Welcome.  This site demonstates a methodology for handling complex objects in Blazor.
</p>
<p>
    Unlike most demo sites that use BootStrap, this is implemented using the FluentUI UX framework.
</p>
