@namespace Blazr.UI
@inherits UIBase
<form>
    @if (this.State is ComponentState.Loaded)
    {
        <CascadingValue Value=this.EditContext IsFixed=true>
            @this.ChildContent
        </CascadingValue>
    }
</form>

@code {
    [Parameter, EditorRequired] public IRecordEditContext? EditContext { get; set; }
    [Parameter, EditorRequired] public ComponentState State { get; set; } = ComponentState.Loading;

    [Parameter]
    public RenderFragment LoadingMessage { get; set; } = (builder)
        =>
    {
        builder.AddMarkupContent(0, $"<div class=`alert alert-info`>Loading.../div>");
    };
    [Parameter]

    public RenderFragment ErrorMessage { get; set; } = (builder)
        =>
    {
        builder.AddMarkupContent(0, $"<div class=`alert alert-danger`>Error Loading Page/div>");
    };
}
