@*
/// ============================================================
/// Author: Shaun Curtis, Cold Elm Coders
/// License: Use And Donate
/// If you use it, donate something to a charity somewhere
/// ============================================================
*@

@namespace Blazr.UI
@inherits UIComponentBase
@implements IDisposable

@if (this.hasMessages)
{
    <div class="invalid-feedback">
        @foreach (var message in this.messages)
        {
            @message <br />
        }
    </div>
}
else if (this.isChanged)
{
    <div class="valid-feedback">
        @this.ValidMessage
    </div>
}
else
{
    <div class="hint-feedback">
        @this.Hint
    </div>
}


@code {
    [CascadingParameter] public IEditContext editContext { get; set; } = default!;

    [Parameter, EditorRequired] public string? FieldName { get; set; }
    [Parameter] public Guid? FieldObjectUid { get; set; }
    [Parameter] public string Hint { get; set; } = "Enter a value.";
    [Parameter] public string ValidMessage { get; set; } = $"The value is valid";

    private FieldReference? Field => FieldName is null 
        ? null 
        : FieldReference.Create(FieldObjectUid ?? Guid.NewGuid(), FieldName);

    private bool isChanged => this.Field is not null && this.editContext.IsChanged(this.Field);
    private bool hasMessages => editContext.HasMessages(Field);
    private IEnumerable<string> messages => this.editContext.GetMessages(Field);

    protected override ValueTask<bool> OnParametersChangedAsync(bool firstRender)
    {
        if (firstRender) {
            if (editContext is null)
                throw new NullReferenceException($"{this.GetType().Name} requires a cascaded IEditContext");

            editContext.ValidationStateUpdated += this.OnValidationStateUpdated;
        }

        return ValueTask.FromResult(true);
    }

    private void OnValidationStateUpdated(object? sender, ValidationStateEventArgs e)
    {
        if (e.Field is null || e.Field.FieldName.Equals(FieldName))
            this.StateHasChanged();
    }

    public void Dispose()
        => editContext.ValidationStateUpdated -= this.OnValidationStateUpdated;
}
