@*
/// ============================================================
/// Author: Shaun Curtis, Cold Elm Coders
/// License: Use And Donate
/// If you use it, donate something to a charity somewhere
/// ============================================================
*@

@namespace Blazr.UI
@inherits UIComponentBase
@implements IDisposable

@if (this.hasMessages)
{
    <div class="text-danger">
        @foreach (var message in this.messages)
        {
            @message <br />
        }
    </div>
}

@code {
    [CascadingParameter] public IRecordEditContext RecordEditContext { get; set; } = default!;

    private bool hasMessages => RecordEditContext.HasMessages();
    private IEnumerable<string> messages => this.RecordEditContext.GetMessages();

    protected override ValueTask<bool> OnParametersChangedAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (RecordEditContext is null)
                throw new NullReferenceException($"{this.GetType().Name} requires a cascaded IRencordEditContext");

            RecordEditContext.ValidationStateUpdated += this.OnValidationStateUpdated;
        }

        return ValueTask.FromResult(true);
    }

    private void OnValidationStateUpdated(object? sender, ValidationStateEventArgs e)
        => this.StateHasChanged();

    public void Dispose()
        => RecordEditContext.ValidationStateUpdated -= this.OnValidationStateUpdated;
}
