@namespace Blazr.UI.Bootstrap
@inherits BlazrInput<bool>

<div class="mb-3 form-check">
    @this.BaseInputControl
    <label class="form-check-label">
        @this.LabelName
    </label>
    <FieldValidationMessage FieldName=@this.FieldName Hint=@this.Hint />
</div>
@code {
    [Parameter] public string? DisplayName { get; set; }
    [Parameter] public string? Hint { get; set; }
    private string? LabelName => DisplayName ?? FieldName ?? null;

    public BlazrCheckboxControl()
        => this.NoValidation = true;
}
