@namespace Blazr.UI.Bootstrap
@typeparam TValue
@inherits BlazrSelect<TValue>

<div class="mb-3">
    @if (this.FieldName is not null)
    {
        <label class="form-label)">@this.LabelName</label>
    }
    @this.BaseInputControl
    <FieldValidationMessage FieldName=@this.FieldName Hint=@this.Hint />
</div>

@code {
    [Parameter] public string? DisplayName { get; set; }
    [Parameter] public string? Hint { get; set; }
    protected string? LabelName => DisplayName ?? FieldName ?? null;
}

