@*/// ============================================================
    /// Author: Shaun Curtis, Cold Elm Coders
    /// License: Use And Donate
    /// If you use it, donate something to a charity somewhere
    /// ============================================================
*@

@namespace Blazr.Demo.UI
@inherits AppEditorForm<DboWeatherLocation, DeoWeatherLocation, WeatherLocationEntity>
@implements IDisposable

<PageLocker />
<UIContainer Size=BootstrapSize.Fluid class="m-2">
    <UILoader State="this.LoadState">
        <FormViewTitle>
            <h2>Weather Forecast Editor</h2>
        </FormViewTitle>
        <EditForm EditContext="this.editContext">
            <ValidationFormState />
            <UIContainer Size=BootstrapSize.Fluid>
                <UIFormRow>
                    <UIColumn Columns=12 MediumColumns=6>
                        <FormEditControl Label="Location" ShowLabel="true" @bind-Value="this.Service.EditModel.Location" ControlType="typeof(InputText)" IsRequired="true" ShowValidation="true" />
                    </UIColumn>
                </UIFormRow>
            </UIContainer>
            <UIContainer Size=BootstrapSize.Fluid>
                <UIFormRow>
                    <UIColumn Columns=12 MediumColumns=7 class="">
                        <UIAlertMessage AlertColour="@this.alertColour" Message="@this.alertMessage" />
                    </UIColumn>
                    <UIColumn Columns=12 MediumColumns=5 class="text-end text-right">
                        <UIButton class="btn-warning" Show="this.IsDirty && !this.IsNew" ClickEvent="this.ResetRecord">Reset Fields</UIButton>
                        <UIButton class="btn-success" Show=this.IsNew Disabled="!this.IsDirty" ClickEvent="this.AddRecord">Add</UIButton>
                        <UIButton class="btn-success" Show=!this.IsNew Disabled="!this.IsDirty" ClickEvent="this.SaveRecord">Save</UIButton>
                        <UIButton class="btn-dark" Show="!this.IsDirty" ClickEvent="this.Exit">Exit</UIButton>
                        <UIButton class="btn-danger" Show="this.IsDirty" ClickEvent="this.ExitWithoutSaving">Exit Without Saving</UIButton>
                    </UIColumn>
                </UIFormRow>
            </UIContainer>
        </EditForm>
    </UILoader>
</UIContainer>

@code {

    protected override void BaseExit()
        => this.NavManager?.NavigateTo("/weatherlocations");
}
