@namespace Blazr.App.UI
@inherits EditorFormBase<Customer, CustomerEditContext, CustomerEntityService, CustomerValidator>

<div class="row">

    <BlazrTextControl UpdateOnInput
                      class="form-control mb-2"
                      ColumnCss="col-12 mb-2"
                      Label="Customer Name"
                      @bind-Value=this.Presenter.RecordContext.CustomerName />

</div>
