@namespace Blazr.App.UI
@inherits PagedListFormBase<Customer, CustomerEntityService>

<BlazrSortedGridColumn TGridItem="Customer" IsMaxColumn=true SortField="@ApplicationConstants.Product.ProductName" IsNoWrap=true Title="Product Name">
    @context.CustomerName
</BlazrSortedGridColumn>

<BlazrGridColumn TGridItem="Customer" Title="Actions" IsNoWrap=true Class="text-end">
    <UIButtonGroup>
        <button class="btn btn-sm btn-secondary" @onclick="() => OnViewAsync(context)">View</button>
        <button class="btn btn-sm btn-primary" @onclick="() => OnEditAsync(context)">Edit</button>
    </UIButtonGroup>
</BlazrGridColumn>

