@page "/"
@namespace Blazr.App.UI
@inherits BlazrControlBase

<PageTitle>Index</PageTitle>

<h3 class="text-primary">Blazr Demo Application</h3>
<div class="m-3 p-3 border border-secondary bg-light rounded-3">
    <p>
        This is a demo application based on my latest development framework.
    </p>

    <p>
        It's a simple invoicing system for selling toy planes.  It demonstrates dealing with both simple of complex data objects.
    </p>
</div>

@code {
}
