.blazored-modal-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.blazored-modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0,0,0,0.5);
}

.blazored-modal-active {
    display: flex;
}

.blazored-modal {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 0rem;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
}

.blazored-modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(32,32,32);
    color: rgb(179,204,255) !important;
    vertical-align: central;
}

h3.blazored-modal-title {
    margin: 0;
}

.blazored-modal-title {
    margin: auto 0 !important;
    font-size: 1.2em;
}

.blazored-modal-content {
    padding: 5px;
}

.blazored-modal-close {
    color: rgb(179,204,255) !important;
    /*margin: -1rem -1rem -1rem auto;*/
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.blazored-modal-center {
    align-items: center;
    justify-content: center;
}

.blazored-modal-wrapper {
    z-index: 102;
}

.blazored-modal-topleft .blazored-modal-wrapper {
    position: absolute;
    top: 32px;
    left: 32px;
}

.blazored-modal-topright .blazored-modal-wrapper {
    position: absolute;
    top: 32px;
    right: 32px;
}

.blazored-modal-bottomleft .blazored-modal-wrapper {
    position: absolute;
    bottom: 32px;
    left: 32px;
}

.blazored-modal-bottomright .blazored-modal-wrapper {
    position: absolute;
    bottom: 32px;
    right: 32px;
}
