@*/// ============================================================
    /// Author: Shaun Curtis, Cold Elm Coders
    /// License: Use And Donate
    /// If you use it, donate something to a charity somewhere
    /// ============================================================*@

@namespace Blazr.UI.Bootstrap

@inherits UIBase

@if (this.State == ComponentState.Loaded)
{
    @this.ChildContent 
}
else if (this.State == ComponentState.InError)
{
    if (this.ErrorContent != null)
    {
        @this.ErrorContent }
    else
    {
        <div class="m-2 p-2 bg-danger text-white">Error Loading Content</div> }
}
else if (this.State == ComponentState.UnAuthorized)
{
    if (this.UnAuthorizedContent != null)
    {
        @this.UnAuthorizedContent }
    else
    {
        <div class="m-2 p-2 bg-danger text-white">You do not have permission to access this resource</div> }
}
else
{
    if (this.LoadingContent != null)
    {
        @this.LoadingContent }
    else
    {
        <div class="m-2 p-2">Loading......</div>}
}
@code{
    [Parameter] public RenderFragment? LoadingContent { get; set; }

    [Parameter] public RenderFragment? ErrorContent { get; set; }

    [Parameter] public RenderFragment? UnAuthorizedContent { get; set; }

    [Parameter] public ComponentState State { get; set; } = ComponentState.Loaded;
}
