@namespace Blazr.App.UI
@inherits ViewerFormBase<Product, ProductEntityService>

<div class="row">

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Product Code" Value="@this.Presenter.Item.ProductCode" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Name" Value="@this.Presenter.Item.ProductName" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Unit Price" Value="@this.Presenter.Item.PriceAsCurrency()" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Unique Id" Value="@this.Presenter.Item.Uid" />
    </div>

</div>
