@*/// ============================================================
    /// Author: Shaun Curtis, Cold Elm Coders
    /// License: Use And Donate
    /// If you use it, donate something to a charity somewhere
    /// ============================================================*@

@namespace Blazr.UI.Bootstrap
@inherits UIBlock

<UIContainer>
    <UIFormRow>
        <UIColumn>
            @if (this.ChildContent != null)
            {
                <div class="@this.CssClass">@ChildContent</div> }
            else
            {
                <div class="@this.CssClass">@this.Title</div> }
        </UIColumn>
    </UIFormRow>
</UIContainer>

@code {
    [Parameter] public string Title { get; set; } = "No Title Set";

    protected override CSSBuilder CssBuilder => new CSSBuilder()
    .AddClass("h2")
    .AddClass("border-bottom")
    .AddClass("border-brand")
    .AddClass("pt-2")
    .AddClassFromAttributes(this.UserAttributes);
}
