@*/// ============================================================
    /// Author: Shaun Curtis, Cold Elm Coders
    /// License: Use And Donate
    /// If you use it, donate something to a charity somewhere
    /// ============================================================*@

@namespace Blazr.UI.Bootstrap

<UIContainer>
    <UIFormRow>
        <UIColumn Columns=12>
            @if (this.ChildContent != null)
            {
                <div class="@this.CssClass">@ChildContent</div> }
            else
            {
                <div class="@this.CssClass">@this.Title</div> }
        </UIColumn>
    </UIFormRow>
</UIContainer>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string Title { get; set; } = "No Title Set";

    [Parameter] public string CssClass { get; set; } = "h2 border-bottom border-brand pt-2";
}
