/* Fix height and enable scrolling */

    .grid ::deep table {
        min-width: 100%;
    }

/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    background-color: #eee;
    z-index: 1;
}

/* For virtualized grids, it's essential that all rows have the same known height */
::deep tr {
    height: 30px;
}

::deep tbody td {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
}
